<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="studio.crunchyiee.degreeprogrammemapper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".EditStudents"
            android:label="@string/title_activity_edit_students"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
            android:name=".ManagerMode"
            android:label="@string/title_activity_manager_mode"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".WebPageView"
            android:label="@string/title_activity_web_page_view"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".AboutPage"
            android:label="@string/title_activity_about_page"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".PathwaySelection"
            android:label="@string/title_activity_pathway_selection"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar.NoActionBar" />
        <activity android:name=".ModulesPage" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>